<header>
        <h1 class="justify-content-center">{{ title }}</h1>

    <div class="container-fluid">
        <ul class="nav nav-pills nav-fill justify-content-center">
            <li class="nav-item">
                <a class="nav-link {{isHomeActive}}" href="/"><i data-feather="home"></i> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{isAddWeightActive}}" href="/weight/add">Add Weight</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{isViewWeightActive}}" href="/weight/viewAll">View All</a>
            </li>
        </ul>
    </div>
</header>
