<header>
    <h1>{{ title }}</h1>
    <div class="navbar">
        <p>
            <a href="/">Home</a> | <a href="/weight/add">Add Weight</a> | <a href="/weight/viewAll">View All</a>
        </p>
    </div>
</header>
