<div class="container-fluid m-2">
    {{> user_messages}}
</div>

<div class="container-fluid mt-2" id="profile">
    <div class="row mb-2" id="profile-email">
        <div class="col-lg-5 col-sm-4 col-2"></div>
        <div class=" font-weight-bold text-left">
            <span class="text-center"> Email: </span>
        </div>
        <div class="col-5 col-md-4">
            <span> {{ currentUser.email }}</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-lg-5 col-sm-4 col-2"></div>
        <div class="font-weight-bold text-right">
            <span class="text-center"> Name: </span>
        </div>
        <div class="col-5 col-md-4">
            <span class="text-center"> {{ currentUser.fullName }}</span>
        </div>
    </div>

    <div class="row justify-content-center">
        <a href="/users/edit-profile">
            <button type="button" class="p-2 col-lg-12 col-auto" id="editButton">Edit Profile</button>
        </a>
    </div>

</div>

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-2"></div>
        <h4 class="col-lg-4 col-auto">Change Password</h4>
    </div>
</div>

<form method="post" , action="/users/myaccount">
    <div class="container-fluid">
        <div class="form-group row justify-content-center mb-0">
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4 text-left font-weight-bold">
                <label class="col-form-label" for="password">Current Password: </label>
            </div>
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4">
                <input class="form-control" type="password" name="password" required/><br/>
            </div>
        </div>

        <div class="form-group row justify-content-center mb-0">
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4 text-left font-weight-bold">
                <label class="col-form-label" for="password">New Password: </label>
            </div>
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4">
                <input class="form-control" id="password" type="password" name="newpassword" required/><br/>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <input class="p-2 col-lg-1 col-auto" type="submit" value="Submit"/>
        </div>
        <div class="row p-lg-5 p-md-3"></div>
    </div>
</form>