<form method="post" action="/weight/save">
    <input type="hidden" name="saveMethod"
           value="{{#if isCreate}}create{{else}}update{{/if}}"/>
    <p>
        Key: {{ weightKey }}
        <input type="hidden" name="weightKey" value="{{ weightKey }}" />
    </p>
    <p>
        Date: <input type="date" name="date"/><br/>
    </p>
    <textarea rows=4 cols=30 name="body"></textarea><br/>
    <input type="submit" value="Submit"/>
</form>
