<form method="POST" action="/weight/destroy/confirm">
    <div class="container-fluid">
        <input type="hidden" name="weightKey"
               value="{{ weightKey }}"/>

        <div class="form-group row justify-content-center">
            <div class="mt-2">
                <p class="form-text"> Delete entry from {{ weightDate }}?</p>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <br/> <input class="col-2 mr-3" type="submit" value="DELETE"/> <br/>
            <a href="/weight/view?key={{ weightKey }}">Cancel</a>
        </div>

    </div>
</form>
