<div class="container-fluid">
    <div class="row row-cols-8 justify-content-center">
        <div class="col-8">
<!--        <img src="/assets/images/weight-loss.jpg" alt="Weight Loss" class="image mt-1">-->
            <img src="/assets/images/collage.jpg" alt="Weight Journey" class="image mt-3" id="homeImage">

        </div>
    </div>
</div>

<div class="container-fluid m-2">
    {{> user_messages}}
</div>