<!--{{#each weightList}}-->
<!--    <div class="row row-cols-8 justify-content-center">-->
<!--        <div class="col-8 col-md-5">-->

<!--            {{ key }}: <a href="/weight/view?key={{ key }}">{{ date }}</a>-->
<!--        </div>-->
<!--    </div>-->
<!--{{/each}}-->

<div class="container-fluid">
    <div class="row row-cols-8 justify-content-center">
        <div class="col-8">
<!--        <img src="/assets/images/weight-loss.jpg" alt="Weight Loss" class="image mt-1">-->
            <img src="/assets/images/collage.jpg" alt="Weight Journey" class="image mt-3" id="homeImage">

        </div>
    </div>

</div>